{% extends 'administrador/base.html' %}

{% block content %}
 	<div class="row">

    <div class="col-md-12 col-sm-6 col-xs-6">
        <div class="x_panel">
            <div class="x_title">            	
                <h2>Préstamos <small></small></h2> 
                <a href="{% url 'book_borrows:borrow_add' %}" class="btn btn-round btn-success right-align">Nuevo Préstamo</a>               
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr class="headings">
                            <th class=" no-link last col-md-3"><span class="nobr">Usuario</span></th>
                            <th class=" no-link last col-md-3"><span class="nobr">Libro</span></th>
                            <th class=" no-link last col-md-2"><span class="nobr">Fecha regreso</span></th>
                            <th class=" no-link last col-md-2"><span class="nobr">Estado</span></th>
                            <th class=" no-link last col-md-2"><span class="nobr">Acción</span></th>
                        </tr>
                    </thead>

                    <tbody>
                    	{% for borrow in borrows %}
							<tr class="even pointer">
	                            <td class="a-center col-md-3">{{ borrow.user.name }}</td>
                                <td class="a-center col-md-3">{{ borrow.book.name }}</td>
                                <td class="a-center col-md-2">{{ borrow.end_date.date }}</td>
                                <td class="a-center col-md-2">{{ borrow.get_status_display }}</td>
                                <td class="a-center col-md-2">Marcar regresado</td>
                        	</tr>
                    	{% endfor %}
                                                
                    </tbody>

                </table>
            </div>
        </div>
        </div>
    </div>

{%endblock%}
<!-- Datatables -->
{% block js %}
    <script>

        var asInitVals = new Array();
        $(document).ready(function () {
            var oTable = $('#example').dataTable({
                "oLanguage": {
                    "sSearch": "Buscar:"
                },
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [4]
                    }, //disables sorting for column five,
                ],
               
                'iDisplayLength': 12,
                "sPaginationType": "full_numbers",
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": ""
                }
            });
            $("tfoot input").keyup(function () {
                /* Filter on the column based on the index of this element's parent <th> */
                oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
            });
            $("tfoot input").each(function (i) {
                asInitVals[i] = this.value;
            });
            $("tfoot input").focus(function () {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            });
            $("tfoot input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            });       
        });
        $(document).ready(function() {
            $(".DTTT_container").remove(); 
        });
        
    </script>

{% endblock %}