{% extends 'administrador/base.html' %}

{% block content %}
 	<div class="row">

    <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="x_panel">
            <div class="x_title">            	
                <h2>Usuarios <small>Administradores</small></h2>                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="example" class="table table-striped responsive-utilities jambo_table">
                    <thead>
                        <tr class="headings">
                            <th>Usuario </th>
                            <th class=" no-link last"><span class="nobr">Eliminar</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    	{% for admin in admin_users %}
							<tr class="even pointer">
	                            <td class="a-center ">{{ admin.user.username }}</td>
                                {% if admin.user == user %}
                                    <td></td>
                                {% else %}
                                    <td class="a-center "><a href="{% url 'admin_users:delete_user_admin' admin.id %}"><i class="fa fa-close"></i></a></td>
                                {% endif %}	                            	                            
                        	</tr>
                    	{% endfor %}
                                                
                    </tbody>

                </table>
            </div>
        </div>
        </div>
    </div>



<a href="add/" class="btn btn-round btn-success">Agregar administrador</a>
{%endblock%}
<!-- Datatables -->
{% block js %}
        <script>
            $(document).ready(function () {
                $('input.tableflat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });

            var asInitVals = new Array();
            $(document).ready(function () {
                var oTable = $('#example').dataTable({
                    "oLanguage": {
                        "sSearch": "Search all columns:"
                    },
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        } //disables sorting for column one
            ],
                    'iDisplayLength': 12,
                    "sPaginationType": "full_numbers",
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": "<?php echo base_url('assets2/js/Datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                    }
                });
                $("tfoot input").keyup(function () {
                    /* Filter on the column based on the index of this element's parent <th> */
                    oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                });
                $("tfoot input").each(function (i) {
                    asInitVals[i] = this.value;
                });
                $("tfoot input").focus(function () {
                    if (this.className == "search_init") {
                        this.className = "";
                        this.value = "";
                    }
                });
                $("tfoot input").blur(function (i) {
                    if (this.value == "") {
                        this.className = "search_init";
                        this.value = asInitVals[$("tfoot input").index(this)];
                    }
                });
            });
        </script>
{% endblock %}