{% extends 'website/base_user_logged.html' %}

{% block content %}
<h5>Mis préstamos</h5>	
<div class="table-wrapper">
	<table class="alt">
		<thead>
			<tr>
				<th width="30%">Libro</th>
				<th width="15%">Fecha préstamo</th>
				<th width="15%">Fecha entrega</th>
				<th width="15%">Estado</th>
				<th width="10%">Renovaciones</th>
				<th width="15%">Renovar</th>
			</tr>
		</thead>
		<tbody>
			{% for borrow in borrows %}
				<tr>
					<td>{{ borrow.book.name }}</td>
					<td>{{ borrow.start_date.date }}</td>
					<td>{{ borrow.end_date.date }}</td>
					{% if borrow.status == 'BO' %}
						<td class="blue-cell">{{ borrow.get_status_display }}</td>
						<td>{{ borrow.rennovations }}</td>
						<td><a href="{% url 'website:book_rennovation' borrow.id %}" class="button special">Renovar</a></td>
					{% elif borrow.status == 'RE' %}
						<td class="green-cell">{{ borrow.get_status_display }}</td>
						<td>{{ borrow.rennovations }}</td>
						<td></td>
					{% else %}
						<td class="red-cell">{{ borrow.get_status_display }}</td>
						<td>{{ borrow.rennovations }}</td>
						<td></td>
					{% endif %}
				</tr>
			{% endfor %}		
		</tbody>
	</table>
</div>
{% endblock %}